---
layout: default
---

<article class="post">
  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

  <div>
    Reusability is one of the main principles in the Knowledge Graph Engineering
    (KGE) pro- cess defined by iTelos. The KGE project documentation plays an
    important role in order to enhance the reusabiltiy of the resources handled
    and produced during the process. A clear description of the resources and
    the process developed, provides a clear understanding of the KGE project,
    thus serving such an information to external readers in order to exploit
    that in new projects.
  </div>

  <div class="post-content">{{ content }}</div>
</article>
